

pandas
plotly
pymysql
streamlit-tags
Pillow
streamlit
pyresparser==1.0.6
nltk==3.8.1
spacy==3.7.2
pdfminer.six
pafy==0.5.5
yt-dlp
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
